<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        收费项目添加
    </title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/css/main.css" media="all">
    <script type="text/javascript" src="/lib/loading/okLoading.js"></script>
    <!-- 引入ElementUI样式 -->
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div id="app">
    <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>业主信息管理</cite></a>
              <a><cite>{{title}}</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
        <el-form :model="pro" :rules="rules" ref="proFormRef" label-width="120px" class="demo-ruleForm">
            <el-form-item label="所属小区" prop="communityName">
                <el-input v-model="pro.communityName"></el-input>
            </el-form-item>
            <el-form-item label="收费编号" prop="code">
                <el-input v-model="pro.code"></el-input>
            </el-form-item>
            <el-form-item label="项目名称" prop="name">
                <el-input v-model="pro.name"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="save()" style="text-align: center">保存</el-button>
                <el-button @click="clearAll()" style="text-align: center">重置</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
<script src="lib/layui/layui.js" charset="utf-8"></script>
<script src="js/x-layui.js" charset="utf-8"></script>
<!--导入Vue依赖包-->
<script src="/js/vue.js" charset="utf-8"></script>
<!-- 引入Element组件库 -->
<script src="/js/index.js"></script>
<!--导入Axios依赖包-->
<script src="/js/axios.js" charset="utf-8"></script>
<script type="text/javascript">
    var app = new Vue({
        el:"#app",
        data:{
            title:"添加项目",
            pro:{id:""},
            fileList:[],
            rules: {
                communityName: [
                    { required: true, message: '请输入所属小区', trigger: 'blur' },
                    { max: 50, message: '长度小于50个字符', trigger: 'blur' }
                ],
                code: [
                    { required: true, message: '请输入收费编号', trigger: 'blur' }
                ],
                name: [
                    { required: true, message: '请输入项目名称', trigger: 'blur' }
                ],
            }
        },
        methods:{
            findById(){
                axios.get("/pro/findById?id="+this.pro.id).then((res)=>{
                    this.pro = res.data.data;
                });
            },
            //表达重置
            clearAll() {
                this.$refs.proFormRef.resetFields();
            },
            save(){
                var method = "";
                if(this.pro.id != null){
                    method = "update"
                }else{
                    method = "add"
                }
                axios.post("/pro/"+method,this.pro).then((res)=>{
                    if(res.data.flag){
                        this.$message({
                            message: res.data.message,
                            type: 'success'
                        });
                    }
                });
            },
            getQueryString(name){
                let reg = `(^|&)${name}=([^&]*)(&|$)`
                let r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]); return null;
            }
        },
        created:function(){
            layui.use(['element','layer','form'], function(){
                $ = layui.jquery;//jquery
                lement = layui.element();//面包导航
                layer = layui.layer;//弹出层
                form = layui.form();
                okLoading.close($);
            });
            //获取父页面传递参数，项目ID
            this.pro.id = this.getQueryString("id");
            //根据项目ID获取车位使用对象，进行数据回显
            if(this.pro.id != null && this.pro.id != ''){
                this.title="修改项目";
                this.findById();
            }
        }
    });
</script>
</body>
</html>